global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:80
    acl is_api hdr(host) -i erp-api.codeverta.com
    use_backend api_backend if is_api
    default_backend admin_backend

backend api_backend
    server backend_go backend-go:8084 check

backend admin_backend
    server admin_frontend admin-frontend:80 check
